@import './variables.css';

:root {
    /* Makes 1 rem = 10px rather than 16px */
    font-size: 62.5%;
}

html {
    font-family: "Open Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
}

body {
    margin: 0;
    font-size: 1.6rem;
}

/* Sidebar / Navigation */
#sidebar {
    /* Attach to left */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg);
    
    overscroll-behavior: contain;
}

#sidebar-scroll-fix {
    /* Lets you scroll in the sidebar lol */
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#sidebar ul {
    padding-left: 20px;
}

#sidebar a {
    color: var(--fg);
    text-decoration: none;
}

#sidebar .current-page {
    color: var(--sidebar-current-page)
}

/* Main page styles */

main {
    margin: 0 auto;
    padding: 0 15px;
    max-width: var(--content-max-width);
}


/*
@media screen and (min-width: 636px) {
    
}
*/